* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  background: #f1f1f1;
}
.blog-post img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: opacity 0.3s linear;
}
.blog-post img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.blog-title {
  font-weight: 700;
}
.blog-title a {
  text-decoration: none;
  color: #444;
  transition: all 0.3s linear;
}
.blog-title a:hover {
  color: #da4453;
}
.container {
  width: 1140px;
  margin:auto;
}
.p20 {
  padding: 20px;
}
.mt20{
    margin-top: 20px;
}
h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}
.blog-post-container {
  width: 70%;
  float: left;
}

.blog-post {
  position: relative;
}
.other-posts {
  width: 30%;
  float: left;
  padding-left: 10px;
}

#author-box {
  border: 1px solid red;
}
ul li {
  list-style-type: none;
}
.tags li {
  list-style-type: none;
  display: inline;
  margin-right: 5px;
}
.tag {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.btn {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  border-radius: 4px;
  background-color: #da4453;
  text-transform: capitalize;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn:hover {
  background-color: #333;
  border-color: #333;
}
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.box {
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.125);
}
.date {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #aaa;
  font-size: 12px;
}
.blog-text {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #aaa;
  line-height: 22px;
  text-align: justify;
}

#share a {
  color: gray;
  text-decoration: none;
  margin-right: 12px;
  opacity: 0.9;
}
#share a:hover {
  opacity: 0.6;
}
/*navbar*/
#nav {
  background-color: #333;
}
#nav ul {
    list-style-type: none;
    overflow: hidden;
}
#nav ul li{
    float: left;
}
#nav ul li a{
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
#nav ul li a:hover{
    background-color: #111;
}

.active{
    background-color: #da4453;
}