* {
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
}
.row {
  margin-top: 40px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.col-4 {
  float: left;
  width: 25%;
}
.col-3 {
  float: left;
  width: 33.33%;
}

.col-2 {
  float: left;
  width: 50%;
}
.img-fluid {
  width: 100%;
}
.container {
  width: 100%;
}
@media (min-width: 576px) {
  html{
    font-size: 11px;
  }
  .container {
    margin: 0 auto;
    width: 540px;
  }
}

@media (min-width: 768px) {
  html{
    font-size: 12px;
  }
  .container {
    margin: 0 auto;
    width: 720px;
  }
}

@media (min-width: 992px) {
  html{
    font-size: 13px;
  }
    .container {
      margin: 0 auto;
        width: 960px;
      }
}

@media (min-width: 1200px) {
  html{
    font-size: 14px;
  }
    .container {
      margin: 0 auto;
        width: 1140px;
      }
}

@media (min-width: 1400px) {
  html{
    font-size: 16px;
  }
    .container {
      margin: 0 auto;
        width: 1320px;
      }
}
